.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 16px;
    background-image: linear-gradient(to right, rgb(39, 250, 250),
     rgb(241, 180, 11));
}