.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item {
    margin-bottom: 20px;
}
.name {
    font-size: 20px;
    font-weight: 600;
}
.character {
    font-size: 15px;
    font-weight: 500;
    color: rgb(78, 76, 76);
}